<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
    nav {
        margin: 20px 0;
    }

    nav .btn {
        display: inline-block;
        padding: 10px 20px;
        margin-right: 10px;
        background-color: #f862adff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        transition: background 0.3s ease;
    }

    nav .btn:hover {
        background-color: #8b0850ff;
    }
</style>

</head>
<body>

   <nav>
    <a href="{% url 'inicio' %}" class="btn">Inicio</a>
    <a href="{% url 'crear_producto' %}" class="btn">Crear Producto</a>
    <a href="{% url 'listado_productos' %}" class="btn">Ver y Borrar Productos</a>
</nav>


    <h1>Formulario de creación</h1>

    <form action="{% url 'crear_producto' %}" method="POST">
        {% csrf_token %}

        <label for="id_nombre">Nombre del producto:</label>
        {{ formulario.nombre }}

        <label for="id_precio">Precio:</label>
        {{ formulario.precio }}

        <input type="submit" value="Crear">
    </form>
</body>
</html>