{% extends "base.html" %}


{% block title %}Crear Producto{% endblock %}


{% block content %}
  <h1>Formulario de creación</h1>


  <form action="{% url 'crear_producto' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div>
          <label for="id_nombre">Nombre del producto:</label><br>
          {{ formulario.nombre }}
      </div><br>
      <div>
          <label for="id_precio">Precio:</label><br>
          {{ formulario.precio }}
      </div><br>
      <div>
          <label for="id_descripcion">Descripción:</label><br>
          {{ formulario.descripcion }}
      </div><br>
      <div>
          <label for="id_imagen">Imagen:</label><br>
          {{ formulario.imagen }}
      </div><br>
      <div>
          <input type="submit" value="Crear" class="btn">
      </div><br>
  </form>
{% endblock %}
