{% extends "base.html" %}


{% block title %}Sobre Mi{% endblock %}


{% block content %}
  <section class="sobre-mi">
    <h1>¡Bienvenido a mi página!</h1>
    <p>Hola, mi nombre es Carolina Perez.</p>
    <p>Soy licenciada en Economía y actualmente trabajo en el ámbito privado. Además, estoy realizando este curso de Python para incorporar nuevos conocimientos que me ayudarán en mi desarrollo profesional.</p>
    <p>Espero que disfrutes de este proyecto final. ¡Muchas gracias por tu tiempo!</p>
</section>


{% endblock %}
