{% extends "base.html" %}


{% block title %}{% endblock %}


{% block content %}
    <h1>Perfil</h1>
    <img src="/media/avatars/{{ profile.avatar }}" width="100" style="border-radius: 10px;">
    <br>Nombre de usuario: {{ user.username }} <br>  
    <br>Nombre: {{ user.first_name }} <br>
    <br>Apellido: {{ user.last_name }} <br>
    <br>Email: {{ user.email }} <br>


    <br> <a href="{% url 'editar_perfil' %}" class="btn">Editar perfil</a>
    <a href="{% url 'editar_contrasenia' %}" class="btn">Editar contraseña</a>
   
{% endblock %}
